* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.Todo_container {
  background-image: url(./images/summer.jpg);
  background-position: 100vh;
  background-repeat: repeat;
  width: 100%;
  min-height: 100vh;
}

.Todo_inline {
  background-color: white;
  color: black;
  margin: auto auto 20px;
  padding: 20px 40px 10px;
  border-radius: 10px;
  max-width: 540px;
}

.Todo_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 50px;
  padding-top: 10px;
}

.Todo_block img {
  width: 20%;
}

.Todo_block h2 {
  padding-left: 120px;
}

.Todo_row {
  display: flex;
  background-color: rgb(230, 224, 224);
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  margin-bottom: 25px;
}

.Todo_row input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
  font-size: 17px;
  font-family: sans-serif;
}

.Todo_row button {
  border: none;
  outline: none;
  background-color: rgb(204, 151, 204);
  padding: 16px 50px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

ul li {
  list-style: none;
  font-size: 16px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(./icons/unchecked.jpg);
  background-size: cover;
  background-position: center;
  top: 5px;
  left: 8px;
}

ul li.checked {
  color: black;
  /* text-decoration: line-through; */
}

ul li.checked::before {
  background-image: url(./icons/checked.jpg);
}

ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: black;
  line-height: 40px;
  text-align: center;
}

ul li span:hover {
  background-color: rgb(230, 224, 224);
}
